/* Colors */
/* Font sizes */
html, body, * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

body .ctn {
  place-self: center;
  overflow-x: hidden;
}

body .ctn header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  width: 100%;
}

body .ctn header a {
  position: absolute;
  color: #353535;
  left: 36px;
  font-size: 24px;
}

body .ctn header h1 {
  font-family: "Shrikhand", serif;
  font-size: 30px;
  font-weight: 400;
}

body .ctn main {
  width: 100%;
}

body .ctn main .m-hero-ctn {
  width: 100%;
  margin-bottom: -60px;
  z-index: 1;
}

@media screen and (min-width: 1024px) {
  body .ctn main .m-hero-ctn {
    display: flex;
    align-items: center;
    height: 380px;
    overflow: hidden;
  }
}
body .ctn main .m-hero-ctn .m-hero-img {
  width: 100%;
}

body .ctn main .m-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #f6f6f6;
  padding: 40px 15px;
  z-index: 2;
  border-radius: 40px 40px 0 0;
  position: relative;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  body .ctn main .m-menu {
    place-self: center;
    width: 1055px;
  }
}
body .ctn main .m-menu .m-menu-title {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  body .ctn main .m-menu .m-menu-title {
    justify-content: center;
    gap: 20px;
    position: relative;
  }
}
body .ctn main .m-menu .m-menu-title h2 {
  font-family: "Shrikhand", serif;
  font-size: 28px;
  font-weight: 400;
}

@media screen and (min-width: 1024px) {
  body .ctn main .m-menu .m-menu-title h2 {
    text-align: center;
  }
}
body .ctn main .m-menu .m-menu-title img {
  width: 24px;
  position: absolute;
  right: 50px;
}

@media screen and (min-width: 1024px) {
  body .ctn main .m-menu .m-menu-title img {
    right: 325px;
  }
}
body .ctn main .m-menu .m-menu-title .liked1, body .ctn main .m-menu .m-menu-title .liked2, body .ctn main .m-menu .m-menu-title .liked3, body .ctn main .m-menu .m-menu-title .liked4 {
  opacity: 0;
  z-index: 2;
  transition: opacity 0.2s ease;
}

body .ctn main .m-menu .m-menu-title .liked1:hover, body .ctn main .m-menu .m-menu-title .liked2:hover, body .ctn main .m-menu .m-menu-title .liked3:hover, body .ctn main .m-menu .m-menu-title .liked4:hover {
  opacity: 1;
  cursor: pointer;
}

body .ctn main .m-menu .m-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media screen and (min-width: 1024px) {
  body .ctn main .m-menu .m-menu-list {
    width: 60%;
    place-self: center;
  }
}
body .ctn main .m-menu .m-menu-list .m-menu-list-title {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

body .ctn main .m-menu .m-menu-list .m-menu-list-title h3 {
  font-size: 16px;
  font-weight: 300;
}

body .ctn main .m-menu .m-menu-list .m-menu-list-title .m-under-title {
  width: 40px;
  border: 2px solid #99e2d0;
}

body .ctn main .m-menu .m-menu-list .m-menu-card-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

body .ctn main .m-menu .m-menu-list .m-menu-card-list .m-menu-card-ctn {
  display: flex;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 4.01px 15.04px 0 rgba(0, 0, 0, 0.1019607843);
  height: 69px;
  overflow: hidden;
}

body .ctn main .m-menu .m-menu-list .m-menu-card-list .m-menu-card-ctn:hover .m-menu-card-check, body .ctn main .m-menu .m-menu-list .m-menu-card-list .m-menu-card-ctn:hover .m-menu-card-price {
  transform: translateX(0);
}

body .ctn main .m-menu .m-menu-list .m-menu-card-list .m-menu-card-ctn .m-menu-card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 15px;
  width: 100%;
}

body .ctn main .m-menu .m-menu-list .m-menu-card-list .m-menu-card-ctn .m-menu-card-info h4 {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 5px;
}

body .ctn main .m-menu .m-menu-list .m-menu-card-list .m-menu-card-ctn .m-menu-card-info h4, body .ctn main .m-menu .m-menu-list .m-menu-card-list .m-menu-card-ctn .m-menu-card-info p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

body .ctn main .m-menu .m-menu-list .m-menu-card-list .m-menu-card-ctn .m-menu-card-price {
  place-self: end;
  font-weight: 700;
  padding-bottom: 15px;
  padding-left: 10px;
  min-width: 60px;
  width: 60px;
  transform: translateX(60px);
  transition: all 0.2s ease-in-out;
}

body .ctn main .m-menu .m-menu-list .m-menu-card-list .m-menu-card-ctn .m-menu-card-check {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99e2d0;
  min-width: 60px;
  width: 60px;
  height: 100%;
  transform: translateX(60px);
  transition: all 0.2s ease-in-out;
}

body .ctn main .m-menu .m-menu-list .m-menu-card-list .m-menu-card-ctn .m-menu-card-check .fa-circle-check {
  color: white;
  font-size: 20px;
}

body .ctn main .m-menu button {
  place-self: center;
  font-size: 16px;
  color: white;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  border: none;
  border-radius: 25px;
  padding: 0 50px;
  margin: 0;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2509803922);
  transition: all 0.2s ease-in-out;
  width: fit-content;
  height: 50px;
  font-weight: bold;
  cursor: pointer;
}

body .ctn main .m-menu button:hover {
  background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.3490196078);
}

body .ctn footer {
  background-color: #353535;
  color: white;
  padding: 22px 25px;
}

@media screen and (min-width: 1024px) {
  body .ctn footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    justify-content: end;
    gap: 16px;
    padding: 30px 25px;
    height: 114px;
  }
}
body .ctn footer img {
  width: 139px;
  height: 27px;
  filter: brightness(0) invert(1);
}

body .ctn footer ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
  list-style: none;
  padding: 0;
  margin: 16px 0 0 0;
}

@media screen and (min-width: 1024px) {
  body .ctn footer ul {
    flex-direction: row;
  }
}
body .ctn footer ul li {
  font-size: 16px;
}

body .ctn footer ul li .fa-solid {
  width: 20px;
}

body .ctn footer ul .f-strong-link {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 500;
}

@media screen and (min-width: 1024px) {
  body .ctn footer ul .f-strong-link {
    gap: 7px;
  }
}
@media screen and (min-width: 1024px) {
  body .ctn footer ul .f-left-gapped-link {
    margin-left: 50px;
    margin-right: 10px;
  }
}
@media screen and (min-width: 1024px) {
  body .ctn footer ul .f-right-gapped-link {
    margin-right: 50px;
  }
}


/*# sourceMappingURL=menu.css.map */
