/* Colors */
/* Font sizes */
html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto Medium", sans-serif;
  scroll-behavior: smooth;
}
body .ctn {
  place-self: center;
}
body .ctn header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1490196078);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}
body .ctn header img {
  height: 30px;
}
body .ctn main {
  position: relative;
  margin-top: 63px;
}
body .ctn main .m-location {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  background-color: #eaeaea;
  color: #353535;
  font-size: 16px;
  font-weight: 500;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2509803922);
  z-index: 2;
}
body .ctn main .m-cta-explore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  background-color: #f6f6f6;
  text-align: center;
  padding: 98px 40px 64px 40px;
}
@media screen and (min-width: 1024px) {
  body .ctn main .m-cta-explore {
    padding: 78px 40px 20px 40px;
  }
}
body .ctn main .m-cta-explore h1 {
  font-size: 24px;
  font-weight: 700;
}
@media screen and (min-width: 1024px) {
  body .ctn main .m-cta-explore h1 {
    font-size: 40px;
  }
}
body .ctn main .m-cta-explore h3 {
  font-size: 18px;
  font-weight: 300;
}
body .ctn main .m-cta-explore h1, body .ctn main .m-cta-explore h3 {
  margin: 0;
}
body .ctn main .m-cta-explore a {
  place-self: center;
  font-size: 16px;
  color: white;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  border-radius: 25px;
  padding: 13px 18.75px;
  margin: 0;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2509803922);
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  width: fit-content;
  scroll-behavior: smooth;
}
body .ctn main .m-cta-explore a:visited {
  color: white;
}
body .ctn main .m-cta-explore a:hover {
  background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.3490196078);
}
body .ctn main .m-list-operation {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  position: relative;
}
@media screen and (min-width: 1024px) {
  body .ctn main .m-list-operation {
    padding: 20px 50px;
  }
}
body .ctn main .m-list-operation h2 {
  font-size: 24px;
  padding-left: 20px;
}
body .ctn main .m-list-operation ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
  padding: 0 20px;
  margin-left: 10px;
}
@media screen and (min-width: 1024px) {
  body .ctn main .m-list-operation ul {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
}
body .ctn main .m-list-operation ul li {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 550;
  position: relative;
}
@media screen and (min-width: 1024px) {
  body .ctn main .m-list-operation ul li {
    width: 100%;
  }
}
body .ctn main .m-list-operation ul li .m-list-bullet {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9356dc;
  border-radius: 25px;
  color: white;
  font-size: 14px;
  width: 24px;
  height: 24px;
  position: absolute;
  left: -12.5px;
}
body .ctn main .m-list-operation ul li div {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 16px;
  background-color: #f6f6f6;
  border-radius: 20px;
  width: 100%;
  padding: 8px 30px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
}
body .ctn main .m-list-operation ul li div i {
  color: #9356dc;
}
body .ctn main .m-restaurants {
  margin: 64px 0;
  padding: 0 17px;
}
@media screen and (min-width: 1024px) {
  body .ctn main .m-restaurants {
    padding: 20px 50px;
  }
}
body .ctn main .m-restaurants .m-restaurants-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media screen and (min-width: 1024px) {
  body .ctn main .m-restaurants .m-restaurants-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 50px;
  }
}
body .ctn main .m-restaurants .m-restaurants-list .m-restaurants-card {
  border-radius: 15px;
  height: 251px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  text-decoration: none;
  color: #353535;
}
body .ctn main .m-restaurants .m-restaurants-list .m-restaurants-card:visited {
  color: #353535;
}
@media screen and (min-width: 1024px) {
  body .ctn main .m-restaurants .m-restaurants-list .m-restaurants-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
body .ctn main .m-restaurants .m-restaurants-list .m-restaurants-card .m-restaurants-card-img-ctn {
  border-radius: 15px 15px 0 0;
  height: 174px;
  overflow: hidden;
}
body .ctn main .m-restaurants .m-restaurants-list .m-restaurants-card .m-restaurants-card-img-ctn img {
  width: 100%;
}
body .ctn main .m-restaurants .m-restaurants-list .m-restaurants-card .m-restaurants-infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: relative;
}
@media screen and (min-width: 1024px) {
  body .ctn main .m-restaurants .m-restaurants-list .m-restaurants-card .m-restaurants-infos div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
body .ctn main .m-restaurants .m-restaurants-list .m-restaurants-card .m-restaurants-infos div h4, body .ctn main .m-restaurants .m-restaurants-list .m-restaurants-card .m-restaurants-infos div p {
  margin: 0;
}
body .ctn main .m-restaurants .m-restaurants-list .m-restaurants-card .m-restaurants-infos div h4 {
  font-size: 18px;
  font-weight: 700;
}
body .ctn main .m-restaurants .m-restaurants-list .m-restaurants-card .m-restaurants-infos div p {
  font-size: 17px;
}
body .ctn main .m-restaurants .m-restaurants-list .m-restaurants-card .m-restaurants-infos img {
  width: 24px;
  position: absolute;
  right: 20px;
}
body .ctn main .m-restaurants .m-restaurants-list .m-restaurants-card .m-restaurants-infos .liked1, body .ctn main .m-restaurants .m-restaurants-list .m-restaurants-card .m-restaurants-infos .liked2, body .ctn main .m-restaurants .m-restaurants-list .m-restaurants-card .m-restaurants-infos .liked3, body .ctn main .m-restaurants .m-restaurants-list .m-restaurants-card .m-restaurants-infos .liked4 {
  opacity: 0;
  z-index: 2;
  transition: opacity 0.2s ease;
}
body .ctn main .m-restaurants .m-restaurants-list .m-restaurants-card .m-restaurants-infos .liked1:hover, body .ctn main .m-restaurants .m-restaurants-list .m-restaurants-card .m-restaurants-infos .liked2:hover, body .ctn main .m-restaurants .m-restaurants-list .m-restaurants-card .m-restaurants-infos .liked3:hover, body .ctn main .m-restaurants .m-restaurants-list .m-restaurants-card .m-restaurants-infos .liked4:hover {
  opacity: 1;
  cursor: pointer;
}
body .ctn footer {
  background-color: #353535;
  color: white;
  padding: 22px 25px;
}
@media screen and (min-width: 1024px) {
  body .ctn footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    justify-content: end;
    gap: 16px;
    padding: 30px 25px;
    height: 90px;
  }
}
body .ctn footer img {
  width: 139px;
  height: 27px;
  filter: brightness(0) invert(1);
}
body .ctn footer ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
  list-style: none;
  padding: 0;
  margin: 16px 0 0 0;
}
@media screen and (min-width: 1024px) {
  body .ctn footer ul {
    flex-direction: row;
  }
}
body .ctn footer ul li {
  font-size: 16px;
}
body .ctn footer ul li .fa-solid {
  width: 20px;
}
body .ctn footer ul .f-strong-link {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 500;
}
@media screen and (min-width: 1024px) {
  body .ctn footer ul .f-strong-link {
    gap: 7px;
  }
}
@media screen and (min-width: 1024px) {
  body .ctn footer ul .f-left-gapped-link {
    margin-left: 50px;
    margin-right: 10px;
  }
}
@media screen and (min-width: 1024px) {
  body .ctn footer ul .f-right-gapped-link {
    margin-right: 50px;
  }
}

/*# sourceMappingURL=styles.css.map */
